<h1>Password Generator</h1>

<form action="{% url 'pw' %}">
    <select name="length">
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16" selected="selected">16</option>
    </select>
<br>
<br>
<br>
    <input type="checkbox" name="uppercase">I want uppercase
<br>
    <input type="checkbox" name="numbers">I want numbers
<br>
    <input type="checkbox" name="special_characters">I want special characters
<br>
<br>
<br>
<br>
<br>
    <input type="submit" value="Click to View your Password">
</form>
